@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.eot);
    src: local('Open Sans Light'),
         url(../fonts/OpenSans-Light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Light.woff2) format('woff2'),
         url(../fonts/OpenSans-Light.woff) format('woff'),
         url(../fonts/OpenSans-Light.ttf) format('truetype'),
         url(../fonts/OpenSans-Light.svg#OpenSans-Light) format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.eot);
    src: local('Open Sans Regular'),
         url(../fonts/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Regular.woff2) format('woff2'),
         url(../fonts/OpenSans-Regular.woff) format('woff'),
         url(../fonts/OpenSans-Regular.ttf) format('truetype'),
         url(../fonts/OpenSans-Regular.svg#OpenSans-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.eot);
    src: local('Open Sans Bold'),
         url(../fonts/OpenSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Bold.woff2) format('woff2'),
         url(../fonts/OpenSans-Bold.woff) format('woff'),
         url(../fonts/OpenSans-Bold.ttf) format('truetype'),
         url(../fonts/OpenSans-Bold.svg#OpenSans-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.eot);
    src: local('Roboto Regular'),
         url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Roboto-Regular.woff2) format('woff2'),
         url(../fonts/Roboto-Regular.woff) format('woff'),
         url(../fonts/Roboto-Regular.ttf) format('truetype'),
         url(../fonts/Roboto-Regular.svg#Roboto-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.eot);
    src: local('Roboto Regular Bold'),
         url(../fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Roboto-Bold.woff2) format('woff2'),
         url(../fonts/Roboto-Bold.woff) format('woff'),
         url(../fonts/Roboto-Bold.ttf) format('truetype'),
         url(../fonts/Roboto-Bold.svg#Roboto-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.eot);
    src: local('Roboto Regular Black'),
         url(../fonts/Roboto-Black.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Roboto-Black.woff2) format('woff2'),
         url(../fonts/Roboto-Black.woff) format('woff'),
         url(../fonts/Roboto-Black.ttf) format('truetype'),
         url(../fonts/Roboto-Black.svg#Roboto-Black) format('svg');
    font-weight: 900;
    font-style: normal;
}