@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'variables';
@import 'fonts';

::placeholder {
    color: $color-4;
}

h1 {
    font-family: $font-roboto;
    color: $color-2;

    span {
        font: italic 1em $font-os;
        color: $color-5;
    }
}

h2 {
    color: $color-3;

    span {
        font-size: 1.3em;
    }

    strong {
        font-weight: normal;
    }
}

.bg-image {
    width: 512px;
    height: 512px;
    background: $color-1 url(../images/lenna.png) no-repeat;
}

.image-container {
    width: 512px;

    img {
        width: 100%;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}